@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');

@utility font-rubik {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-stretch: expanded;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: #FF8FA3;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  position: fixed;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@keyframes smoothWaveFloat {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}