@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');

@utility font-rubik {
  font-family: 'Rubik', sans-serif;
  font-weight: 900;
  font-stretch: expanded;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@keyframes smoothWaveFloat {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}